.*.swp
._*
.DS_Store
.git
.gitlab-ci*
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.travis.yml
.editorconfig
.eslint*

config.gypi
CVS
npm-debug.log

default.config
rollup.config.js


docker*
Docker*

coverage
config
demo
public
src
scripts
styleguide*



